# Major Research Project - Dataset version 2 creation

### Md Mozahidur Rahman - 501002626

In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import matplotlib.pyplot as plt
import plotly.graph_objects as go
import seaborn as sns
sns.set_style("whitegrid")
from matplotlib import pyplot

### Data load

In [2]:
#Test.csv 
#df=pd.read_csv('Test.csv')
# dataset_after_analysis.csv is cleaned data from main dataset
df1=pd.read_csv('dataset_after_analysis.csv',encoding= 'unicode_escape')
df1.head()

,Unnamed: 0,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Category Id,Category Name,Customer City,Customer Country,Customer Id,...,Product Name,Product Price,Shipping Mode,Customer Full Name,order_year,order_month,order_week_day,order_hour,fraud,late_delivery
0,0,DEBIT,3,4,91.250000,73,Sporting Goods,Caguas,Puerto Rico,20755,...,Smart watch,327.75,Standard Class,CallyHolloway,2018,1,2,22,0,0
1,1,TRANSFER,5,4,-249.089996,73,Sporting Goods,Caguas,Puerto Rico,19492,...,Smart watch,327.75,Standard Class,IreneLuna,2018,1,5,12,0,1
2,2,CASH,4,4,-247.779999,73,Sporting Goods,San Jose,EE. UU.,19491,...,Smart watch,327.75,Standard Class,GillianMaldonado,2018,1,5,12,0,0
3,3,DEBIT,3,4,22.860001,73,Sporting Goods,Los Angeles,EE. UU.,19490,...,Smart watch,327.75,Standard Class,TanaTate,2018,1,5,11,0,0
4,4,PAYMENT,2,4,134.210007,73,Sporting Goods,Caguas,Puerto Rico,19489,...,Smart watch,327.75,Standard Class,OrliHendricks,2018,1,5,11,0,0

# Data Prepocessing

In [3]:
df1.shape

(180519, 36)

In [4]:
df1.apply(lambda x: sum(x.isnull())) #Checking missing values

Unnamed: 0                       0
Type                             0
Days for shipping (real)         0
Days for shipment (scheduled)    0
Benefit per order                0
Category Id                      0
Category Name                    0
Customer City                    0
Customer Country                 0
Customer Id                      0
Customer Segment                 0
Customer State                   0
Customer Zipcode                 0
Department Id                    0
Department Name                  0
Market                           0
Order City                       0
Order Country                    0
Order Id                         0
Order Item Discount              0
Order Item Discount Rate         0
Order Item Profit Ratio          0
Order Item Quantity              0
Sales                            0
Order Region                     0
Order State                      0
Product Name                     0
Product Price                    0
Shipping Mode                    0
Customer Full Name               0
order_year                       0
order_month                      0
order_week_day                   0
order_hour                       0
fraud                            0
late_delivery                    0
dtype: int64

In [5]:
# indicator.csv has been made from world historical dataset. population, unemployment rate and gdp per capita has selected. 
df2=pd.read_csv('indicator.csv',encoding= 'unicode_escape')
df2.head()

,Customer Country,order_year,Population Customer Country,Unemployment Rate Customer Country,Gdp per Capita Customer Country
0,Puerto Rico,2018,3319269,9.2,31605
1,Puerto Rico,2017,3366408,10.8,31109
2,Puerto Rico,2016,3432740,11.8,30627
3,Puerto Rico,2015,3497335,12.0,29763
4,EE. UU.,2018,332140037,3.9,62805

Two dataset has merged where customer country and year is same.

In [6]:
dataset_version2=pd.merge(df1,df2,on=['Customer Country','order_year'])

In [7]:
dataset_version2.shape

(180519, 39)

In [8]:
dataset_version2.apply(lambda x: sum(x.isnull()))

Unnamed: 0                            0
Type                                  0
Days for shipping (real)              0
Days for shipment (scheduled)         0
Benefit per order                     0
Category Id                           0
Category Name                         0
Customer City                         0
Customer Country                      0
Customer Id                           0
Customer Segment                      0
Customer State                        0
Customer Zipcode                      0
Department Id                         0
Department Name                       0
Market                                0
Order City                            0
Order Country                         0
Order Id                              0
Order Item Discount                   0
Order Item Discount Rate              0
Order Item Profit Ratio               0
Order Item Quantity                   0
Sales                                 0
Order Region                          0
Order State                           0
Product Name                          0
Product Price                         0
Shipping Mode                         0
Customer Full Name                    0
order_year                            0
order_month                           0
order_week_day                        0
order_hour                            0
fraud                                 0
late_delivery                         0
Population Customer Country           0
Unemployment Rate Customer Country    0
Gdp per Capita Customer Country       0
dtype: int64

In [9]:
# data_version2.csv will be used in data model that contain external bias.

In [10]:
dataset_version2.to_csv('data_version2.csv')